/* nav styles */
nav li{
    list-style: none;
    color: #3C354F;
text-align: center;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
font-size: 18px;
font-weight: 500;
}
nav a{
    text-decoration: none;
    color: black;
}
nav{
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 35px 240px;
    align-items: center;
}  
nav ul{
    display: flex;
    gap: 32px;
}
nav h2, .og-title{
    text-align: center;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.gamer{
    display: flex;
    align-items: center;
    height: 60px;
    width: 150px;
    gap: 20px;
 
}
.gamer h2{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
font-size: 50px;
}
.g{
    color: #FF42A5 ;
}
.gamer img{
    height: 40px;
    width: 85px;
}
/* banner section */
.banner{
    display: flex;
    justify-content: space-between;
}
.banner h2{
    color: #0B0223;
text-align: center;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
font-size: 48px;
font-weight: 600;
margin-bottom: 0;
}
.banner h1{
    text-align: center;
font-size: 95px;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 800;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
margin-top: 0;
margin-bottom: 25px;
}
.banner ul li, .intro-des, .og-des{
    color: #534C64;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: lowercase;
}
.banner-content{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-image: url(../images/Group\ 14.png); 
    width: 900px;
    height: 700px;
    padding-left: 150px;
    /* border: 2px solid saddlebrown; */
}
.btn-pri{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    gap: 10px;
    color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
border: 0;
}
.btn-sec{
    background-color: #4EC5F7;
    border-radius: 48px;
    padding: 21px 40px;
    color: #FFF;
    gap: 10px;
font-size: 20px;
font-weight: 600;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
border: 0;
}
.banner-image img{
    width: 50%%;
}
.btn{
    display: flex;
    justify-content: space-between;
    gap: 0px;
}
/* intro section */
.intro{
    display: flex;
    margin-top: 35px;
    /* justify-content: space-evenly; */
    padding: 55px;
    align-items: center;
}
.intro img{
    width: 850px;
    height: 450px;
}
.intro-content{
  text-align: right;
}
.intro-title{
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.pur{
    color: #534C64;
font-size: 24px;
font-style: normal;
font-weight: 500px;
line-height: 45px;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.unleash{
    color: #534C64;
font-family: Work Sans;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 45px;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
/* Online Games */
.og-title{

    font-family: 'Work Sans', sans-serif;
    margin-bottom: 15px;
}
.fv{
    color: #8758F1;

}
.og-des{
    text-align: center;
    margin-top: 0px;
}
.online-games-content{
    display: flex;
    gap: 25px;
    display: flex;
    justify-content: center;
    margin-right: 50px;
}
#con{
    margin-right: 0;
    padding-left: 50px;
}
.online-content-des{
    text-align: left;
    color: #534C64;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */
}
.pi{
    display: flex;
    justify-content: space-between;
}
.pi-content{
    border: 2px solid red;
    width: 37%;
    padding-left: 280px;
    padding-top: 200px;
    padding-right: 250px;

}
.pi-title-1,.pi-title-2,.pi-title-3{
    height: 6px;
    font-weight: 700px;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    text-align: right;
}
.image-2{
    position: relative;
    bottom: 50px;
    right: 50px;
}
.image-1{
    height: 600px;
    font-weight: 550px;
}


